.project-card {
    width: 50%;
    background-color: #EDC7B7;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 1rem;
}

.project-card:hover {
    transform: scale(1.05);
}