
body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1d1842;
}

.navbar-brand,
.nav-link {
  color: white;
  cursor: pointer;
  padding-right: 20px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.react-scroll-link:hover {
  color: #ffffff;
}

.active-link {
  color: #ffffff;
}

.custom-link {
  padding-right: 40px;
}
